*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background: #0b0c10;
    font-family: 'Archivo', sans-serif;
}

.menu-button{
    display: none;
    color: #66fcf1;
    background: #0b0c10;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 4;
    top: 5px;
    left: 5px;
}

header{
    width: 100%;
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.menu{
    display: flex;
    background: transparent;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #0b0c10;
}

.menu .marca{
    font-size: 20px;
    font-weight: bold;
}

.menu .menu-list{
    list-style: none;
    display: flex;
}

.menu .menu-list li{
   margin-left: 10px;   
}

.menu .menu-list li a, .social a{
    text-decoration: none;
    color: #66fcf1;
}

.menu .menu-list li a:hover, .social a:hover{
    color: #45a29e;
}

.social a{
    font-size: 25px;
}

.header-cont{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: inherit;
    margin-top: 70px;
}

.header-text{
    width: 50%;
    text-align: center;
}

.header-cont .title{
    color: #66fcf1;
    font-size: 80px;
}

.header-button{
    background: transparent;
    width: 90px;
    height: 40px;
    border: 2px solid #66fcf1;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    transition: 1.3s ease;
    cursor: pointer;
    margin-top: 30px;
}

.header-button:hover{
    background: #45a29e;
}

.content{
    background: #1f2833;
    text-align: center;
    padding: 20px 20px;
}

/* section{
    display: flex;
    justify-content: space-between;
} */

.carousel-container, .text-cont{
    width: 50%;
}

.info{
    /* width: 1000px; */
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:992px){
    .carousel-container, .text-cont{
        margin-left: auto;
        margin-right: auto;
    }

    .header-cont .title{
        font-size: 50px;
    }

    .menu{
        display: none;
    }

    .header-cont{
        margin-top: 0;
    }

    .menu-button{
        display: block;
    }
}

@media screen and (max-width:610px){
    
    .header-cont .title{
        font-size: 30px;
    }

    
}



