
body{
    /* background: #c5c6c7; */
    background: #ffff;
}

.menu, footer{
    background: #0b0c10;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    justify-content: center;
    gap: 25px;
}

.game-container{
    /* background: rgb(184, 182, 182); */
    background: #c5c6c7;
    width: 240px;
    padding: 10px 20px;
    border-radius: 4px;
}

.jumbotron{
    background: url(../img/sean-do-782269-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}